/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
}

main {
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: red;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline;
}

table {
  display: flex;
}

th,
td {
  padding: 20px;
}

.empty,
.links,
.logo {
  width: 200px;
}

.logo {
  font-size: 25px;
  padding: 10px;
}

.logo-offset {
  color: red;
}

.empty {
  width: 150px;
}

.odds {
  background: lightgrey;
}

.even {
  background: white;
}
