<p class="view_link"> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </p>

<% if current_user.clocked_in? %>
  <%= link_to "Clock Out", clock_out_logs_path(@site), method: :put %>
<% else %>
  <% if !current_user.logs.exists?(:date => Date.today) %>
    <%= link_to "Clock In", clock_in_logs_path(@site), method: :post %>
  <% end %>
<% end %>
